body {
	font: 400 15px Lato, helvetica;
	line-height: 1.5;
	color: #8E8F92;
	height: 0px;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
	font-size: large;
	line-height: 1.4;
	color: #303030;
	font-weight: 100;
	margin-bottom: 10px;
	padding-top: 0px;
  }
  .jumbotron {
	background-color: transparent;
	color: #ffff;
	padding-top: 50px;
	padding-bottom: 40px;
	height: auto;
	max-width: auto
  }
  .container-fluid {
	padding-right: 50px;
	padding-left: 50px;
  }
	
  .bg-grey {
	background-color: #8E8F92;
	padding-bottom: 40px
	color: #FFFFFF;
  }
  .logo-medium {
	color: #E39B25;
	font-size: 60px;
  }
    .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-indicators li {
	border-color: #8E8F92;
	bottom: 0px;
  }
  .carousel-indicators li.active {
      background-color: #8E8F92;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
	align-content: center;
	max-width: 120%;
  }
  .panel {
      border: 1px solid #303030; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #8E8F92;
      background-color: #fff !important;
      color: #303030;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #8E8F92 !important;
      padding: 20px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
	background-color: white !important;
	color: #303030;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #FFFFFF;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px;
      background-color: #E39B25;
      color: #fff;
  }
  .navbar {
	margin-bottom: 10;
	background-color: #FFFFFF;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 2 !important;
	letter-spacing: 4px;
	border-radius: 5;
	font-family: Montserrat, sans-serif;
	top: 0px;
	padding-top: 0px;
    max-width:  width: 100%
  }
  .navbar li a, .navbar .navbar-brand {
      color: #8E8F92 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #FFFFFF !important;
      background-color: #E39B25 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #FFFFFF;
  }
  footer .glyphicon {
	font-size: 20px;
	margin-bottom: 11px;
	color: #E39B25;
	padding-bottom: 0px;
	text-align: left;
  }
  .slideanim {
	visibility: hidden;
	margin-right: 13px;
}
  .slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
	bottom: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
	
  .col-xs-17 {
}
.col-xs-20 {
}
.col-lg-12 {
}
.col-md-12 {
}
meta {
    .responsive {
    width: 80%;
    height: auto;
    }

